$colores: (
    "white-color": white,
    "lightgray-color": lightgray,
    "white-background": rgb(237,237,237),
    "blue-color": #5AA6ED,
    "blue-color-second": rgba(90, 166, 237, 0.9),
    "light-gray": rgb(166,179,204),
    "black-color": black,
    "black-color-posts": rgba(0, 0, 0, 0.5),
    "black-color-posts-second": rgba(0,0,0,0.7),
    "light-gray-second": rgba(255, 255, 255, 0.1),
);

$header-background: url(images/banner.jpg);
$posts-background: url(images/bg.jpg);