@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Taviraj:300,400,700,300i,400i,700i");
*,
*::before,
*::after {
  box-sizing: border-box; /* sin esta regla, el ancho y alto de un elemento se calcula sin tener en cuenta el relleno y el borde*/
  margin: 0; /* para garantizar que no haya márgenes o rellenos no deseados aplicados de forma predeterminada por el navegador*/
  padding: 0;
}

body,
input,
textarea,
button {
  font-family: "Taviraj", serif;
}

nav p,
nav i,
button,
span {
  cursor: pointer;
}

header,
button,
.header__main span,
.main__posts article p:first-child,
.main__last__post__title {
  color: white;
}

header span,
.header__main p:nth-child(2),
.main__posts article p,
.main__last__post__subtitle {
  color: lightgray;
}

.main__formulario,
.main__first__post,
.main__blog,
footer {
  background-color: rgb(237, 237, 237);
}

header {
  background-image: url(images/banner.jpg);
  background-position: center;
  max-height: 40em;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
header span {
  font-size: small;
}

.header__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 25em;
}
.header__main p:nth-child(1) {
  font-size: 5em;
}
.header__main p:nth-child(2) {
  width: 50%;
  font-size: 1.5em;
  margin-bottom: 2em;
}
.header__main span {
  font-size: 1em;
}

.button__blue {
  border: 1px solid #5AA6ED;
  background-color: #5AA6ED;
  border-radius: 5px;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
}
.button__blue:hover {
  background-color: rgba(90, 166, 237, 0.9);
}

/*MAIN*/
/*FIRST-POST*/
.main__first__post,
.main__blog {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5em;
}

.main__first__post article {
  background-color: white;
  padding: 3em;
  min-width: 30em;
}
.main__first__post img {
  width: 100%;
  max-width: 80em;
  max-height: 20em;
}

.main__first__post p,
.main__first__post hr,
.main__blog p,
.main__blog hr {
  color: rgb(166, 179, 204);
  margin-bottom: 1em;
}

.main__first__post__title,
.main__blog__title,
.main__formulario__title {
  color: black !important;
  margin-top: 2em;
  font-size: x-large;
  margin-bottom: 1em;
}

.main__first__post__resume {
  text-align: left;
}

/*POSTS*/
.main__posts,
.main__last__post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(images/bg.jpg);
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 20em;
  padding: 3em;
}

.main__posts article {
  padding: 2em;
}
.main__posts article p {
  margin-bottom: 2em;
}
.main__posts article p:first-child {
  margin-bottom: 1em;
}

.hr__vertical {
  min-height: 15em;
  width: 0;
}

.button__white {
  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}
.button__white:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/*BLOG*/
.main__blog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2em;
}
.main__blog img {
  width: 100%;
  max-height: 15em;
}
.main__blog article {
  background-color: white;
  background-color: white;
  flex: 1 1 calc(50% - 2em); /* Los artículos ocuparán el 50% del ancho del contenedor, menos el espacio del gap */
  max-width: 45%; /* Controla el ancho máximo de los artículos */
  min-width: 500px; /* Establece un ancho mínimo para que no se encojan demasiado en pantallas pequeñas */
  display: flex;
  flex-direction: column; /* Permite que el contenido interno del artículo crezca verticalmente */
}
.main__blog article figure {
  flex-shrink: 0; /* Evita que la imagen se encoja */
}
.main__blog article img {
  width: 100%;
  height: auto;
}

.main__blog__text {
  flex-grow: 1; /* Permite que el texto crezca para ocupar todo el espacio disponible */
  padding: 1em;
}

.main__blog__title, .main__blog__subtitle, .main__blog__text p {
  margin-bottom: 1em;
}

.main__blog__subtitle {
  font-size: larger;
}

/*LAST POST*/
.main__last__post {
  flex-direction: column;
  padding: 5em;
}

.main__last__post__title {
  margin-bottom: 2em;
}

/*FORMULARIO*/
.main__formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em;
  color: black;
}
.main__formulario hr {
  margin-bottom: 2em;
}
.main__formulario li {
  list-style: none;
}
.main__formulario form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__formulario__title {
  text-align: center;
}

.main__formulario__content {
  background-color: white;
  padding: 3em;
}

input, textarea {
  border: 1px solid lightgray;
  width: 100%;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 2em;
}

.main__formulario__data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.main__formulario__data input {
  min-width: 43.5em;
  width: 100%;
  max-width: 100%;
  margin-right: 1em;
}

/*FOOTER*/
footer {
  min-height: 3em;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1231px) {
  .main__formulario__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Cambia a column y centra los elementos */
  }
  .main__formulario__data input {
    min-width: 30em;
    width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
    margin-right: 0; /* Elimina el margen derecho en pantallas más pequeñas */
  }
}
@media only screen and (max-width: 768px) {
  header {
    height: auto;
  }
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align: center;
  }
  header nav p {
    margin-bottom: 0.5em;
  }
  header nav i {
    margin-top: 0.5em;
  }
  header .header__main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .header__main p:nth-child(1) {
    font-size: 2em;
  }
  header .header__main p:nth-child(2) {
    width: 80%;
    font-size: 1em;
    margin-bottom: 1em;
  }
  header .header__main button {
    margin-top: 1em;
    margin-bottom: 1.5em;
  }
  .main__first__post img {
    max-width: 100%;
    height: auto;
  }
  .main__posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2em;
  }
  .main__posts article {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
  }
  .main__posts article p {
    margin-bottom: 1em;
  }
  .main__posts article .button__white {
    margin-top: 1em;
  }
  .main__posts .hr__vertical {
    display: none; /* Oculta las líneas verticales en pantallas más pequeñas */
  }
  .main__blog article {
    flex: 1 1 100%; /* Ocupa el 100% del ancho en pantallas pequeñas */
    max-width: 100%; /* Asegura que no exceda el 100% del contenedor */
    min-width: auto; /* Elimina el ancho mínimo en pantallas pequeñas */
    margin-right: 0; /* Elimina cualquier margen derecho */
  }
  .main__blog article figure {
    flex-shrink: 0; /* Evita que la imagen se encoja */
  }
  .main__blog article img {
    width: 100%;
    height: auto;
  }
  .main__blog .main__blog__text {
    flex-grow: 1; /* Permite que el texto crezca para ocupar todo el espacio disponible */
    padding: 1em;
  }
  .main__blog .main__blog__title, .main__blog .main__blog__subtitle, .main__blog .main__blog__text p {
    margin-bottom: 1em;
  }
  .main__blog .main__blog__subtitle {
    font-size: larger;
  }
}/*# sourceMappingURL=style.css.map */